.main__silder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:  30px;
  background-color: darkolivegreen;
  position: relative;
  height: 80vh;
  box-sizing: border-box;
}

.main__silder-btn {
  transform: scale(1.5);
  color: white;

}
.main__silder-text {
  color: white;
  font-size: 14px;
  font-weight: 50;
  text-shadow: 1px 1px 5px rgb(43, 43, 43);
}
.main__silder-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__silder-image-container{
  width: 300PX;
  height: 400PX;
  overflow: hidden;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  margin: 15px 0;


}
.main__silder-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main__silder-title{
  color: white;
  font-size: 80px;
  font-weight: 300;
  text-shadow: 1px 1px 8px rgb(43, 43, 43);
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main__porgrees-bar {
  width: 150px;
  height: 3px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;

}

.main__porgrees-bar-item {
  height: 100%;
  background-color: white;
  margin: 0 2px;
}
.main__porgrees-bar-item--visible {
  width: 50%;
}
.main__porgrees-bar-item-invisible {
  width: 25%;
  opacity: 0.5;
}